.shp-article-left {
    display: grid;
    grid-template-columns: 18em auto;
    grid-template-areas: 'article-image article-description';
    width: 100%;
    height: 20em;
}

.shp-article-right {
    display: grid;
    grid-template-columns: auto 18em;
    grid-template-areas: 'article-description article-image';
    width: 100%;
    height: 20em;
}

.shp-article-image {
    grid-area: article-image;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.shp-article-description {
    grid-area: article-description;
    width: 100%;
    height: 100%;
    background-color: red;
}