<mat-card class="navbar">
    <img class="img-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png">
    <button mat-raised-button class="padding-right-border">Shop</button>
    <!-- Here buttons for logged user -->
    <button mat-raised-button>My Account</button>
    <button mat-raised-button>Contracts</button>
    <button mat-raised-button>Contacts</button>
    <!-- Here buttons for logged admin -->
    <button mat-raised-button>Customers</button>
    <button mat-raised-button>Offers</button>
    <button mat-raised-button>Messages</button>
    <!-- Here Login/Logout button -->
    <button mat-raised-button class="btn-login">Login</button>
    <button mat-raised-button class="btn-logout">Logout 5:00</button>
</mat-card>