<mat-card class="navbar">
    <img class="img-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png">
    <a routerLink="shop" mat-raised-button>Shop</a>
    <a routerLink="explaination" mat-raised-button class="padding-right-border">How this Angular side works</a>
    <!-- Here buttons for logged user -->
    <a mat-raised-button>My Account</a>
    <a mat-raised-button>Contracts</a>
    <a mat-raised-button>Contacts</a>
    <!-- Here buttons for logged admin -->
    <a mat-raised-button>Customers</a>
    <a mat-raised-button>Offers</a>
    <a mat-raised-button>Messages</a>
    <!-- Here Login/Logout button -->
    <a mat-raised-button class="btn-login">Login</a>
    <a mat-raised-button class="btn-logout">Logout 5:00</a>
</mat-card>