
<div class="shp-slider">
    <button class="shp-slider-navigator" (click)="previousPage()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <div class="shp-slider-wrapper">
        <div class="shp-slider-content">
            <ng-container [ngSwitch]="layoutNumber">
                <ng-container *ngSwitchCase="0">
                    <div>
                        <h3>Jetzt Neu! - 399🍪/Monat</h3>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                    <div>
                        <h3>Jetzt Neu! - 499🍪/Monat</h3>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                    <div>
                        <h3>Jetzt Neu! - 599🍪/Monat</h3>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <button class="shp-slider-navigator" (click)="nextPage()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>